.app-container {
  display: flex;
  height: 100vh;
}

.assets-panel {
  width: 30%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.canvas-container {
  width: 70%;
  position: relative;
  overflow: hidden;
}

.button-container{
  display: flex;
  flex-direction: column;
}